<h1><%= @cocktail.name %></h1>
<% @cocktail.doses.each do |dose| %>
<li><%= dose.ingredient.name %> - <%= dose.description%> <%= link_to 'Delete dose', cocktail_dose_path(@cocktail, dose), method: :delete%></li>
<% end %>

<%= link_to cocktails_path do %>
<i class="fas fa-undo-alt"></i> Home
<% end %>

<%= link_to new_cocktail_dose_path(@cocktail) do %>
<i class="fas fa-plus"></i> Add an Ingredient
<% end %>
